@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);
@import url(https://unpkg.com/nes.css/css/nes.css);

body {
  margin: 0;
  padding: 0;
  background-color: #212529;
  color: #fff;
  font-family: "Press Start 2P",-apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.signin-box {
	position: absolute;
	display:flex;
	align-items: center;
	top: 10px;
	margin-left: 20px;
}


.left-sidebar {
  margin-top: 20px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 18%;
}

.form-box {
	position: absolute;
	top: 86px;
	margin-left: 350px;
	display: flex;
	flex-flow: column;
	align-items: left;
}

.chat-messages {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	width: 120%;
}

.room-container {
   display: flex;
   align-items: flex-start;
   flex-flow: column;
}

.room-container:hover {

}

.room-text-box {
  margin-left: 20px;
}


